- provide :title, "All Artist"
.row
  .four.columns
    %h3= "Artists"
    = render "artist", object: @artists
  .eight.columns#post_form
    = render "form"
.row
  = link_to "Add", new_artist_path, :class => "button", :remote => true