.row
  .two.columns
    %ul.nav-bar.vertical
      %li= link_to 'Artist', artists_path
      %li= link_to 'Albums', albums_path
.row
  .four.columns
  .four.columns
    %p#notice= notice
  .four.columns